#This project is made by Visual Studio 2019.
#We will exclude non-source code.

#Debug folder
Debug/
Release/
x64/
x86/

#User specification files
*.user
*.suo

#Visual Studio
.vs/
*.sln
*.vcxproj
*.filters

#System
*.dll

#Executable
*.out
*.exe

#Object
*.o
*.obj

#Log
*.log